@charset "ISO-8859-1";

body {
	background-image: url("#{resource['imagens/imagem-de-fundo-transparente.jpeg']}");
	width: 100%;
	height: 100%;

	background-repeat: no-repeat;
}



.areaDoCliente{
	margin: 100px; 
}

#botaoLogin {
	float: right;
}

.usuarioLogado {
	float:right;
}